#custom
.isort.cfg
.mypy_cache/
.pytest_cache/
.logs/
app/static/scripts/*
app/static/styles/vendor.css

.webassets-cache/
webassets-external/
.DS_Store
*.pyc
*.pyo
env
venv
*.env
env*
dist
*.egg
*.egg-info
*.sqlite
.idea
dump.rdb
.vscode/
