[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-mongoengine = "*"
mongomock = "*"
python-dotenv = "*"
"raygun4py" = "*"
Flask = "*"
Flask-Assets = "*"
Flask-Compress = "*"
Flask-Login = "*"
Flask-Mail = "*"
Flask-Script = "*"
Flask-SSLify = "*"
Flask-WTF = "*"
Flask-Moment = "*"
"flask-rq2" = "*"
aiohttp = "*"
motor = "*"
cchardet = "*"
aiodns = "*"
jsmin = "*"

[dev-packages]
isort = "*"
pre_commit = "*"
pytest-cov = "*"
pytest-flask = "*"
pytest-xdist = "*"
yapf = "*"
Faker = "*"
pytest = "*"
pytest-asyncio = "*"
aioresponses = "*"
pytest-randomly = "*"

[requires]
python_version = "3.6"
