<div class="item">
    <div class="ui middle aligned tiny image">
        <img src="{{ url_for('static', filename='images/task/default_type.png') }}">
    </div>
    <div class="content">
        <div>
            <a class="ui header{% if d.priority == 3 %} red {% elif d.priority == 2 %} blue {% endif %}"
            href="{{ d.url }}" target="_blank">{{ d.theme }}</a>
            <div class="ui right floated">{{ moment(d.update_at).fromNow() }}</div>
        </div>
        <div class="meta">
            <span class="cinema">{{ beautify_static(categories[d.category]) }}</span>
        </div>
        <div class="description">
            <div class="ui middle aligned divided list">
                {% for c in d.comment %}
                <div class="item">
                    <div class="content">
                        <span class="header">{{ c }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="extra">
            <div class="ui basic animated right floated buttons" tabindex="0">
                <div class="ui vertical animated button " tabindex="0">
                    <a class="item" href="{{ url_for('task.update_doc_meta', doc_meta_id= d.id|string) }}">
                        <div class="hidden content">Edit</div>
                        <div class="visible content">
                            <i class="write icon"></i>
                        </div>
                    </a>

                </div>
                <div class="ui vertical animated button" tabindex="0">
                    <a class="item" href="{{ url_for('task.delete_doc_meta', doc_meta_id= d.id|string) }}">
                        <div class="hidden content">Delete</div>
                        <div class="visible content">
                            <i class="trash outline icon"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ui label">Tag</div>
        </div>
    </div>
</div>