{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'task/task_macros.html' as m %}
{% block content %}
<div class="ui stackable grid container">
    <div class="sixteen wide tablet twelve wide computer centered column">
        <h2 class="ui header">
            <i class="book icon"></i>
            <div class="content">My Documents <div class="sub header">Manage your documents</div></div>
        </h2>

        <div class="ui basic vertical animated right floated button" tabindex="0">
            <a class="item" href="{{ url_for('task.new_doc_meta') }}">
                <div class="hidden content">New</div>
                <div class="visible content">
                    <i class="large plus circle icon"></i>
                </div>
            </a>
        </div>

        <div class="ui menu">
            <div id="select-category" class="ui dropdown item">
                <div class="text">
                    {{ beautify_static(current_category) }}
                </div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" data-value="{{ all_category }}">{{ all_category }}</div>
                    {% for c in categories %}
                    <div class="item" data-value="{{ c.name }}">{{ beautify_static(c.name) }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="ui right search item">
                <div class="ui transparent icon input">
                    <input id="search-doc" type="text" placeholder="Search documents…">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>

        {% set flashes = {
        'error': get_flashed_messages(category_filter=['form-error']),
        'warning': get_flashed_messages(category_filter=['form-check-email']),
        'info': get_flashed_messages(category_filter=['form-info']),
        'success': get_flashed_messages(category_filter=['form-success'])
        } %}
        {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
        {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
        {{ f.form_message(flashes['info'], header='Information', class='info') }}
        {{ f.form_message(flashes['success'], header='Success!', class='success') }}

        <div style="overflow-x: auto;margin-top:20px;">
            <div class="ui divided items">
                {% for d in documents.items | sort(attribute='category') %}
                    {% include 'task/_document.html' %}
                {% endfor %}
            </div>

            {{ m.render_navigation(documents, 'task.my_doc_meta', current_category, current_search) }}
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#search-doc').keypress(function (event) {
            if(event.keyCode != "13") return;
            var searchText = $(this).val();
            window.location.href = "{{ url_for('task.my_doc_meta') }}?category={{ current_category }}&search="+searchText;
        });

        $('#select-category').dropdown({
            onChange: function (value, text, $selectedItem) {
                window.location.href = "{{ url_for('task.my_doc_meta') }}?category="+value;
            }
        });
    });












</script> {% endblock %}
