{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% block content %}
<div class="ui stackable grid container">
    <div class="sixteen wide tablet twelve wide computer centered column">
        <h2 class="ui header">
            My Documents
        </h2>

        <div class="ui vertical animated right floated button" tabindex="0">
            <a class="item" href="{{ url_for('task.new_doc_meta') }}">
                <div class="hidden content">New</div>
                <div class="visible content">
                    <i class="large plus circle icon"></i>
                </div>
            </a>
        </div>

        <div class="ui menu">
            <div id="select-category" class="ui dropdown item">
                <div class="text">
                    All categories
                </div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" data-value="">All categories</div>
                    {% for c in categories %}
                    <div class="item" data-value="{{ c.value }}">{{ c.value }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="ui right search item">
                <div class="ui transparent icon input">
                    <input id="search-doc" type="text" placeholder="Search users…">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>

        {% set flashes = {
        'error': get_flashed_messages(category_filter=['form-error']),
        'warning': get_flashed_messages(category_filter=['form-check-email']),
        'info': get_flashed_messages(category_filter=['form-info']),
        'success': get_flashed_messages(category_filter=['form-success'])
        } %}
        {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
        {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
        {{ f.form_message(flashes['info'], header='Information', class='info') }}
        {{ f.form_message(flashes['success'], header='Success!', class='success') }}

        {# Use overflow-x: scroll so that mobile views don't freak out # when the table is too wide #}
        <div style="overflow-x: scroll;">
            <table class="ui searchable sortable unstackable selectable celled table">
                <thead>
                <tr>
                    <th>Theme</th>
                    <th class="sorted descending">Category</th>
                    <th>Operation</th>
                </tr>
                </thead>
                <tbody>
                {% for d in documents | sort(attribute='category') %}
                <tr>
                    <td>
                        <a href="{{ d.url }}" target="_blank">{{ d.theme }}</a>
                    </td>
                    <td class="doc category">{{ d.category }}</td>
                    <td>
                        <div class="ui small basic icon buttons">
                            <button class="ui button">
                                <a class="item" href="{{ url_for('task.update_doc_meta', doc_meta_id= d.id|string) }}">
                                    <i class="edit outline icon"></i>
                                </a>
                            </button>
                            <button class="ui button">
                                <a class="item" href="{{ url_for('task.delete_doc_meta', doc_meta_id= d.id|string) }}">
                                    <i class="trash outline icon"></i>
                                </a>
                            </button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#search-doc').keyup(function () {
            var searchText = $(this).val();
            if (searchText.length > 0) {
                $('tbody td:icontains(' + searchText + ')').addClass('positive');
                $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
            } else {
                $('td.positive').removeClass('positive');
                $('tr.hidden').removeClass('hidden').show();
            }
        });

        $('#select-category').dropdown({
            onChange: function (value, text, $selectedItem) {
                $('td.doc.category:contains(' + value + ')').closest('tr').removeClass('hidden').show();
                $('td.doc.category').not(':contains(' + value + ')').closest('tr').addClass('hidden').hide();
            }
        });
    });











</script> {% endblock %}
