{% extends 'layouts/base.html' %} {% import 'macros/form_macros.html' as f %} {% block content %}
<div class="ui stackable centered grid container">
    <div class="twelve wide column">
        <a class="ui basic compact button" href="{{ url_for('task.my_doc_meta') }}">
            <i class="caret left icon"></i>
            Back to Document List
        </a>
        <h2 class="ui header">
            {{ action }} {{ data_type }}
            {% if action == 'Create' %}
            <div class="sub header">Create a new url based document</div>
            {% elif action == 'Update' %}
            <div class="sub header">Update meta data of the document</div>
            {% endif %}
        </h2>

        {{ f.render_form(form) }}
    </div>
</div>
{% endblock %}
