{# Macro for creating navigation links #}
{% macro render_navigation(pagination, endpoint, category, search) %}
    <div class="ui pagination menu">
        {% for page in pagination.iter_pages() %}
            {% if page %}
                {% if page != pagination.page %}
                    <a class="item" href="{{ url_for(endpoint, category=category, search=search, page=page) }}">{{ page }}</a>
                {% else %}
                    <a class="active item">{{ page }}</a>
                {% endif %}
            {% else %}
                <span class="disabled item">...</span>
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}